EBS/Credito/wsdl/CreditoService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:tns="http://pucminas.br/SN/CreditoService/Biharck" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:cre="http://pucminas.br/SN/Credito"
	xmlns:cab="http://pucminas.br/MC/SOA/Biharck" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	name="CreditoService" 
	targetNamespace="http://pucminas.br/SN/CreditoService/Biharck">

	<wsdl:types>
		<xsd:schema targetNamespace="http://pucminas.br/SN/CreditoService/Biharck">
			<xsd:import namespace="http://pucminas.br/SN/Credito" schemaLocation="../xsd/ParametrosCredito.xsd" />
			<xsd:import namespace="http://pucminas.br/MC/SOA/Biharck" schemaLocation="../../../ModeloCanonico/MC/PucminasFault.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="pucminasFault">
		<wsdl:part element="cab:pucminasFault" name="fault" />
	</wsdl:message>

	<wsdl:message name="verificaCreditoExternoRequest">
		<wsdl:part element="cre:parametrosVerificaCreditoExterno" name="parameters" />
	</wsdl:message>
	<wsdl:message name="verificaCreditoExternoResponse">
		<wsdl:part element="cre:resultadoVerificaCreditoExterno" name="parameters" />
	</wsdl:message>

	<wsdl:message name="verificaCreditoInternoRequest">
		<wsdl:part element="cre:parametrosVerificaCreditoInterno" name="parameters" />
	</wsdl:message>
	<wsdl:message name="verificaCreditoInternoResponse">
		<wsdl:part element="cre:resultadoVerificaCreditoInterno" name="parameters" />
	</wsdl:message>

	<wsdl:message name="verificaWhiteListRequest">
		<wsdl:part element="cre:parametrosVerificaWhiteList" name="parameters" />
	</wsdl:message>
	<wsdl:message name="verificaWhiteListResponse">
		<wsdl:part element="cre:resultadoVerificaWhiteList" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="verificaCreditoGeralRequest">
		<wsdl:part element="cre:parametrosVerificaCreditoGeral" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="verificaCreditoGeralResponse">
		<wsdl:part element="cre:resultadoVerificaCreditoGeral" name="parameters" />
	</wsdl:message>

	<wsdl:portType name="CreditoService">
		<wsdl:operation name="verificaCreditoExterno">
			<wsdl:input message="tns:verificaCreditoExternoRequest" />
			<wsdl:output message="tns:verificaCreditoExternoResponse" />
			<wsdl:fault name="pucminasFault" message="tns:pucminasFault" />
		</wsdl:operation>
		<wsdl:operation name="verificaCreditoInterno">
			<wsdl:input message="tns:verificaCreditoInternoRequest" />
			<wsdl:output message="tns:verificaCreditoInternoResponse" />
			<wsdl:fault name="pucminasFault" message="tns:pucminasFault" />
		</wsdl:operation>
		<wsdl:operation name="verificaWhiteList">
			<wsdl:input message="tns:verificaWhiteListRequest" />
			<wsdl:output message="tns:verificaWhiteListResponse" />
			<wsdl:fault name="pucminasFault" message="tns:pucminasFault" />
		</wsdl:operation>
		<wsdl:operation name="verificaCreditoGeral">
			<wsdl:input message="tns:verificaCreditoGeralRequest" />
			<wsdl:output message="tns:verificaCreditoGeralResponse" />
			<wsdl:fault name="pucminasFault" message="tns:pucminasFault" />
		</wsdl:operation>		
	</wsdl:portType>

	<wsdl:binding name="CreditoServiceSOAP" type="tns:CreditoService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="verificaCreditoExterno">
			<soap:operation soapAction="http://pucminas.br/SN/CreditoService/VerificaCreditoExterno" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="pucminasFault">
				<soap:fault name="pucminasFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="verificaCreditoInterno">
			<soap:operation soapAction="http://pucminas.br/SN/CreditoService/VerificaCreditoInterno" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="pucminasFault">
				<soap:fault name="pucminasFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="verificaWhiteList">
			<soap:operation soapAction="http://pucminas.br/SN/CreditoService/VerificaWhiteList" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="pucminasFault">
				<soap:fault name="pucminasFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="verificaCreditoGeral">
			<soap:operation soapAction="http://pucminas.br/SN/CreditoService/VerificaCreditoGeral" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="pucminasFault">
				<soap:fault name="pucminasFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		
	</wsdl:binding>

	<wsdl:service name="CreditoService">
		<wsdl:port binding="tns:CreditoServiceSOAP" name="CreditoServiceSOAP">
			<soap:address location="http://pucminas.br/SOA/Credito" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
